@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, Sans-serif;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-variant: small-caps;
    color: white;
}

header {
    background-color: black;
    color: white;
    text-align: center;
     & h1 {
        padding-top: 50px;
        font-variant: small-caps;
        font-family: var(--fonte3);
        font-size: 10vw;
     }
     & p {
        padding-bottom: 50px;
     }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(70, 69, 69);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0 rgb(34, 33, 33);
    background-attachment: fixed;

    & p {
        background-color: rgba(0, 0, 0, 0.384);
        display: inline-block;
        padding: 5px;
        padding-bottom: 2em;
        text-shadow: 2px 2px 0 black;
    }
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}